<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8"/>
    <title>Tickets Online</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
Tickets Online
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
