{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Customer</h1>
    {% set properties = ['name', 'email', 'phone', 'gender', 'childs', 'adults', 'seniors'] %}

    <table class="record_properties">
        <tbody>
        {% for prop in properties %}
            <tr>
                <th>{{ ('customer.properties.'~prop) | trans }}</th>
                <td>{{ attribute(entity, prop)  }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('customer') }}">{{ 'back' | trans  }}</a>

{% endblock %}
