{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Customer</h1>
    {% set properties = ['name', 'email', 'phone', 'genderLong', 'childs', 'adults', 'seniors', 'totalPrice'] %}

    <table class="record_properties">
        <tbody>
        {% for prop in properties %}
            {% if attribute(entity, prop) is not null %}
            <tr>
                <th>{{ ('customer.properties.'~prop) | trans }}</th>
                <td>{{ attribute(entity, prop)  }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('customer') }}">{{ 'back' | trans  }}</a>

{% endblock %}
